#Python
*.pytest_cache*
*__pycache__*
*.exercism

#Javascript
*babel.config.js
*.iml
*json
*spec.js
*nls
*node_modules*
*.vs*
*.eslintrc*
*.xml
*.idea*


#C
*makefile*
*/test
*/build
*/build.gradle
*/gradle
*/gradlew*
*gradlew.bat
